.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  background-color: teal;
  margin-right: 2px;
}

section {
  margin-bottom: 30px;
}

svg {
  overflow: visible;
}

.axis path,
.axis line {
  stroke: darkgray;
  shape-rendering: crisp;
}

.axis text {
  font-family: sans-serif;
  font-size: 1rem;
  color: darkgray;
}
